.addButton {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.plus {
  border-radius: 20%;
  border: 1px solid white;
  padding: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.plus:hover {
  background-position: right center;
  background-size: 400% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
  background-image: linear-gradient(45deg, #383838, #383838, #383838, #383838);
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.text {
  font-size: 20px;
  color: white;
  opacity: 0.8;
}

.chatBoxContainer {
  /* Assuming you have a container for the ChatBox */
  max-height: calc(
    100vh - 240px
  ); /* Adjust 150px based on ChatInput height and other elements */
  overflow-y: auto;
}

.chats {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/* UserQuestion.jsx */
.user {
  margin-top: 25px;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 10px;
}

/* AiResponse.jsx */
.ai {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}
.output {
  position: relative;
  width: 100%;
  background-color: #383838;
  border-radius: 10px;
  padding: 10px 10px;
  border: 0.3px solid #737373;
}
.aiBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.aiTooltips {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  margin-right: 10px;
  background-color: #383838;
  border: 0.5px solid #737373;
  border-radius: 10px;
  padding: 5px 7px;
  transition: all 0.3s ease; /* Add transition property */
}

.aiTooltips:hover {
  background-color: #4b4b4b; /* Change background color on hover */
  transform: translateY(45%); /* Slightly move up on hover */
}
